/AApp_module/node_modules

# production
/blood-group-app/build

# debug
/blood-group-app/npm-debug.log*
/blood-group-app/yarn-debug.log*
/blood-group-app/yarn-error.log*
/blood-group-app/.pnpm-debug.log*

# env files
/blood-group-app/.env*

# typescript
/blood-group-app/*.tsbuildinfo
/blood-group-app/next-env.d.ts

/fingerprint-main/myenv
